/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/

.calculator {
  /* position: absolute; */
  max-width: 400px;
  /* top: 50%;
  left: 50%;
  transform: translate( -50%, -50%); 
  width: 400px; */
  margin: auto;
  padding: 40px;
  padding-top: 70px;
  margin-top: 250px;
  background-color: black;
  border-radius: 20px;
}

 .screen {
  width: 100%;
  height: 70px;
  font-size: 5rem;
  text-align: right;
  background: white;
  color: black;
  padding-right: 12px;
}

.calc-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 12px;
} 

button {
  height: 60px;
  background: rgb(189, 188, 188);
  border: none;
  border-radius: 30px;
  font-size: 4rem;
  font-weight: bold;
  color: black;
  margin: 7px;
  padding: 5px;
  flex: 1 0 18%;
  cursor: pointer;
}

.all-clear {
  font-size: 3.5rem;
  background-color: orange;
}

button:hover {
  background-color: white;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
